body {
  font-family: Verdana, sans-serif;
}

.titletopper {
  margin: 0px;
  padding: 0px;
  color: #7092ac;
  font-variant: small-caps;
  font-weight: bold;
}

h1 {
  color: #7092ac;
  font-variant: small-caps;
  margin: 0px 0px 8px 0px;
}

table {
  border-collapse: collapse;
}

#selectbox {
  height: 2.5em;
}

#number {
  width: 40%;
  height: 100%;
  font-size: large;
}

#direction {
  width: 30%;
  height: 100%;
  font-size: large;
}

#go {
  width: 5em;
  height: 100%;
  font-size: large;
}

th {
  text-align: left;
}

#headers {
  border-bottom: 1px solid #246;
}

#nameheader {
  min-width: 16em;
}
#totemheader {
  min-width: 14em;
}
#roleheader {
  min-width: 11em;
}

.everyother {
  background-color: rgba(20, 80, 160, 0.2);
}

#colinlinks {
  padding: 6px;
}

#colinlinks p {
  margin: 0px;
  font-size: small;
}
